{% extends 'base.html' %}
{% block title%} About-FindPG {% endblock %}

{% block css %}
<style>
.card:hover{
    background-color: aqua;
    transition: all .2s ease-in-out .2s;


}
i{
    font-size: 30px !important;
    
}

body{
        background: url('/media/pexels-vecislavas-popa-1743227.jpg') no-repeat center center/cover;
        /* height: 100vh;
        width: 100vw; */
        opacity: .8;
        top: 0;
        left: 0;

    }

    a:hover{
        color: red !important;
    }
</style>

{% endblock css %}


{% block body %}
<div class="container mt-4" style="margin-top: 50px !important; ">
    <h1 class="text-center my-4" style="color: #0d0d0d;"><b> <span id="typed"></span></b></h1>

    <div class="row" style="margin: auto;">
        <div class="card-group my-2 mx-2" style="width: 348px; height: 280px;">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">
                        <div class="text-center my-4"> <i class="fas fa-home"></i> </div>
                        <p class="text-center "> Ideal Rooms</p>
                    </h5>
                    <p class="card-text">

                        No need to visit the place.Book what you see as we promise you aunthetic listing and images
                        on our website
                    </p>
                </div>
            </div>

        </div>
        <div class="card-group my-2 mx-2" style="width: 348px; height: 280px;">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">
                        <div class="text-center my-4"> <i class="far fa-times-circle"></i> </div>
                        <p class="text-center "> No Brokers</p>
                    </h5>
                    <p class="card-text">
                    <em>FindYourPG</em> is broker-free.We don't have any middleman operating for us.You check out the listing and book it online
                    </p>
                </div>
            </div>

        </div>
        <div class="card-group my-2 mx-2" style="width: 348px; height: 280px;">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">
                        <div class="text-center my-4"> <i class="fas fa-lock"></i> </div>
                        <p class="text-center "> Secure Payments</p>
                    </h5>
                    <p class="card-text">
                    No hassels of payment anymore.We promise you a 100% safe and secure network through
                    our FindYourPG Website
                    </p>
                </div>
            </div>

        </div>


    </div>
</div>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" >
    
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="" style="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3" style="padding-top: 20px;">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class=" fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>FindYourPG
            </h6>
            <p>
                FindYourPG is a PG booking online website and it is devloped to solve the problem faced by specially student to find a PG near college. 
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Our Services
            </h6>
            <p>
              <a href="#!" class="text-reset">Jalandhar</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Phagwara</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ludhiana</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Others</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="/" class="text-reset">Home</a>
            </p>
            <p>
              <a href="/about/" class="text-reset">About Us</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Booking's</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Services</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>

            <p>
              <i class="fas fa-envelope me-3"></i>
              FindYourPG@support.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +91 7905658520</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">FindYourPG.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->


{% endblock body %}


{% block js %}
<script>
    
    var typed = new Typed('#typed', {
        strings: ['Why FindYourPG?'],
        backSpeed: 15,
        smartBackspace: true,
        backDelay: 2200,
        startDelay: 1000,
        typeSpeed: 25,
        loop: false,
        showCursor: true,

    });
</script>

{% endblock js %}
