<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkout-FindYourPG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<style>
    body {
        background: url('/media/pexels-jean-van-der-meulen-1457842.jpg') no-repeat center center/cover;

    }
</style>

<body>


    <div class="container">
        <div class="card my-4">
            <div class="card-header">
                Preview
            </div>
            <div class="card-body">
                <h5 class="card-title">{{item.main_address}}</h5>
                <p class="card-text">{{item.room_details}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header" style="color: red;">
                Price Breakup

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">1 Room
                    <span class="mx-2" style="position: absolute; right: 0;"><b>&#8377; <span id="basefare">
                                {{item.price}}</span></b></span>
                </li>

                <li class="list-group-item">Total Discount
                    <span class="mx-2" style="position: absolute; right: 0;"><b>&#8377; 0</b></span>

                </li>
                <li class="list-group-item">Taxes & Service Fees
                    <span class="mx-2" style="position: absolute; right: 0;"><b>&#8377; 100</b></span>

                </li>
            </ul>

            <div class="card-footer" style="color: red;">
                Total Amount to be paid
                <span class="mx-2" style="position: absolute; right: 0;"><b>&#8377;<span
                            id="totalfare">4100</span></b></span>



            </div>
        </div>
        <section class="vh-100 gradient-custom my-3">
            <div class="container py-5 h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="">
                        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                            <div class="card-body p-4 p-md-5">
                                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Guest Details</h3>
                                <form action="/{{item.City}}/{{item.sno}}/{{item.main_address}}/handlepayment" method="post">{% csrf_token %}

                                    <div class="row">
                                        <div class="col-md-6 mb-4">

                                            <div class="form-outline">
                                                <input type="text" id="firstName"
                                                    class="form-control form-control-lg" required name="fname" />
                                                <label class="form-label" for="firstName">First Name</label>
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                            <div class="form-outline">
                                                <input type="text" id="lastName" name="lname" required class="form-control form-control-lg" />
                                                <label class="form-label" for="lastName">Last Name</label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div class="form-outline">
                                                <input type="email" id="emailAddress"
                                                    class="form-control form-control-lg" name="email" required />
                                                <label class="form-label" for="emailAddress">Email</label>
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div class="form-outline">
                                                <input type="tel" id="phoneNumber"
                                                    class="form-control form-control-lg" name="phone" required />
                                                <label class="form-label" for="phoneNumber">Phone Number</label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4 d-flex align-items-center">

                                            <div class="form-outline datepicker w-100">
                                                <input type="number" min="13" max="25" required
                                                    class="form-control form-control-lg" name="age" id="birthdayDate" />
                                                <label for="birthdayDate" class="form-label">Age</label>
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                            <h6 class="mb-2 pb-1">Gender: </h6>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radiobtn"
                                                    id="maleGender" value="Male" checked />
                                                <label class="form-check-label" for="maleGender">Male</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radiobtn"
                                                    id="femaleGender" value="option1" />
                                                <label class="form-check-label" for="Female">Female</label>
                                            </div>


                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="radiobtn"
                                                    id="otherGender" value="Other" />
                                                <label class="form-check-label" for="otherGender">Other</label>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-12">

                                            <select class="select form-control-lg" name="choice" required>
                                                <option value="College Student">College Student</option>
                                                <option value="Other">Other</option> 
                                            </select>

                                        </div>
                                        <label class="form-label select-label">Choose option</label>
                                    </div>
                                    <!-- <button class="btn btn-danger btn-lg mt-4">Pay Now</button> -->

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-danger btn-lg">Pay Now</button>
                                    </div>



                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br><br>
        <footer class="text-center text-white">

            <div class="text-center mt-3">
        
        
        
                © 2023 Copyright:
                <a class="text-dark" href="https://FlyHigh.com/" style="color:red !important">FindYourPG.com</a>
        
                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg text-dark" href="https://www.instagram.com/i_agarwal_ansh/"
                    role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>
        
                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-dark" href="https://www.linkedin.com/in/ansh-agarwal-390797253/"
                    role="button" data-mdb-ripple-color="dark" style="margin: -15px !important;"><i
                        class="fab fa-linkedin"></i></a>
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg text-dark" href="https://github.com/the-error4-0-4" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
        
            </div>
            <!-- Copyright -->
        </footer>
        
        

    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

<script>
    let x = document.getElementById('basefare').innerHTML
    console.log(x)
    x = parseInt(x)
    x = x + 100
    document.getElementById('totalfare').innerHTML = x


</script>

</html>