<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChangePassword-FindYourPG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">



</head>
<style>
    body {
        background: url('/media/pexels-atbo-245219.jpg') no-repeat center center/cover;
        /* height: 100%; */
        /* width: 100vw; */
        opacity: .8;
        top: 0;
        left: 0;

    }
</style>

<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem; height: 470px;">
                        <div class="card-body p-5 text-center">
                            <form method="post">{% csrf_token %}
                                <input type="hidden" name="user_id" value="{{user_id}}">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h3 class="fw-bold mb-2 text-uppercase">Change Password</h3>
                                    <p class="text-white-50 mb-2">Please enter your New Password!</p>
                                    <div style="height: 10px;">
                                        {% for message in messages %}

                                        <p style="color: red; font-weight: bold;">{{message}}</p>
                                        {% endfor %}

                                    </div>
                                    
                                    

                                    <div class="form-outline form-white my-4">
                                        <input type="password" id="password" name="new_password"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="password">Create Your Password</label>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="cpassword" name="confirm_password"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="cpassword">Repeat Your Password</label>
                                    </div>
    



                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>

                                    

                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>