{% extends 'base.html' %}
{% block title%} SingUp-FindPG {% endblock %}


{% block css %}
<style>
    body{
        background: url('/media/pexels-atbo-245219.jpg') no-repeat center center/cover;
        /* height: 100%; */
        /* width: 100vw; */
        opacity: .8;
        top: 0;
        left: 0;

    }
</style>
{% endblock css %}

{% block body %}

<div class="mask d-flex align-items-center h-100 gradient-custom-3 my-5">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                        <form method="post" action="/signup/">{% csrf_token %} 

                            <div class="form-outline mb-4">
                                <input type="text" id="username" name="username" class="form-control form-control-lg"  required/>
                                <label class="form-label" for="username">Your Username</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="text" id="name" name="name" class="form-control form-control-lg" required />
                                <label class="form-label" for="name">Your Name</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="email" id="signup_email" name="signup_email" class="form-control form-control-lg" required />
                                <label class="form-label" for="signup_email">Your Email</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="tel" id="Phone" name="phone" class="form-control form-control-lg" required />
                                <label class="form-label" for="Phone">Your Phone Number</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="password" name="password" class="form-control form-control-lg" required />
                                <label class="form-label" for="password">Password</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="password1" name="password1" class="form-control form-control-lg" required />
                                <label class="form-label" for="password1">Repeat your password</label>
                            </div>

                            <div class="form-check d-flex justify-content-center mb-5">
                                <input class="form-check-input me-2" type="checkbox" value=""
                                    id="form2Example3cg" required />
                                <label class="form-check-label" for="form2Example3g">
                                    I agree all statements in <a href="#!" class="text-body"><u>Terms of
                                            service</u></a>
                                </label>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit"
                                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                            </div>

                            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login/"
                                    class="fw-bold text-body"><u>Login here</u></a></p>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock body %}
