<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FindYourPG-{{slug}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />

</head>
<style>
    i {
        font-size: x-large;
    }
</style>
{% load extras %}

<body>
    <div class="container">

        <div class="" id="box">
            <div class="card mb-3" style="height: 250px;">
                <div class="row g-0">

                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                {% for item1 in item.sno|get_img %}


                                <img src="/media/{{item1.room_photos}}" class="d-block w-100" alt="...">

                                {% if forloop.counter|divisibleby:1 and forloop.counter > 0 and not forloop.last%}

                            </div>

                            <div class="carousel-item">
                                {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>


                    <div class="">
                        <div class="card-body">
                            <h2 class="card-title">{{item.main_address}}</h2>
                            <h5><span class="badge text-bg-info">Available {{item.room_vacent}}</span></h5>

                            <p class="card-text" style="font-size: x-large;"><b> &#x20B9; 1600</b></p>
                            <span>
                                <a href="/{{item.City}}/{{item.sno}}/{{item.main_address}}/checkout" class="btn btn-primary">
                                    Book Now
                                </a>
                                <a href="/{{item.City}}/{{item.sno}}/{{item.main_address}}/schedule" class="btn btn-primary">
                                    Visit Now
                                </a>
                            </span>

                        </div>
                    </div>


                    <div class="mx-2 my-5">
                        <h5>ABOUT THIS PROPERTY</h5>
                        <p>If you are one of those who love to unwind with some good company, this is the place for you.
                            The home is available for both guys and girls. Don’t worry about the mess you will make,
                            we’ve got house-keeping to take care of that.

                        </p>
                    </div>
                    <div class="mx-2 mb-4">
                        <h5>Amenities
                        </h5>
                        <div class="row">
                            <div class="col mt-1">

                                <i class="fas fa-wifi"></i>
                                <span class="mx-2"> <b>Free Wifi</b></span>

                                <i class="fas fa-car-battery"></i>
                                <span class="mx-2"> <b>Power Backup</b></span>


                                <i class="fas fa-tv"></i>
                                <span class="mx-2"> <b>Tv</b></span>

                                <i class="fas fa-bed"></i>
                                <span class="mx-2"> <b>Bed & Mattress</b></span>

                                <img src="/media/air-conditioner.png" width="40px" height="40px" alt="">
                                <span class="mx-2"> <b>AC</b></span>

                                <img src="/media/refrigrator.png" width="40px" height="40px" alt="">
                                <span class="mx-2"> <b>Refrigerator</b></span>

                                <img src="/media/water-filter.png" width="40px" height="40px" alt="">
                                <span class="mx-2"> <b>RO</b></span>
                                <img src="/media/water-boiler.png" width="40px" height="40px" alt="">
                                <span class="mx-2"> <b>Geyser</b></span>



                            </div>

                        </div>

                    </div>
                    <div class="mx-2">
                        <h5>Property Details</h5>
                        <ul>
                            {% for item in list %}
                            <li>{{item}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="mx-2 my-4">
                        <h5>Nearby Facilities</h5>
                        <ul>
                            <li>MOTHER'S KITCHEN -70m</li>
                        </ul>

                    </div>
                    
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5782.28693581973!2d75.76385200376289!3d31.216994368908047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391af4bc2ced0259%3A0xca3b1a3b30af5ca!2sKhana%20Khazana%20-%20Ajit%20Foods!5e0!3m2!1sen!2sin!4v1675951709553!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <footer class="text-center text-white mb-3">

                        <div class="text-center text-dark mt-3">
                    
                    
                    
                            © 2023 Copyright:
                            <a class="text-dark" href="https://FlyHigh.com/" style="color:red !important">FindYourPG.com</a>
                    
                    
                        </div>
                        <!-- Copyright -->
                    </footer>
                    

                </div>
            </div>

        </div>


    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>